# Virtual Environment
venv/
.venv/
env/

# Environment secrets (MongoDB & API Keys)
.env
*.env

# Python cache
__pycache__/
*.pyc

# Node / Frontend (agar frontend bhi hai)
node_modules/
dist/
.DS_Store
