## Juniper JunOS MX480 Border Router
## Device: MX480-Border
## Last changed: 2026-09-15 08:30:12 UTC
version 21.4R1.12;
system {
    host-name MX480-Border;
    root-authentication {
        encrypted-password "$6$rounds=656000$test$salt1234567890abcdef";
    }
    services {
        telnet;
        ftp;
        web-management {
            http {
                interface ge-0/0/0.0;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 198.51.100.1/30;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.0.4.1/24;
            }
        }
    }
}
snmp {
    community public {
        authorization read-only;
    }
    community private {
        authorization read-write;
    }
}
routing-options {
    autonomous-system 64512;
}
protocols {
    bgp {
        group external-peers {
            type external;
            peer-as 65000;
            neighbor 198.51.100.2;
        }
    }
}
